*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Poppins',sans-serif;
}

body{
  background:#0f0f0f;
  color:#fff;
  text-align:center;
}

/* NAV */
nav{
  position:fixed;
  top:0;
  width:100%;
  background:rgba(0,0,0,0.6);
  backdrop-filter:blur(10px);
  padding:15px;
  z-index:1000;
}
nav a{
  color:#fff;
  margin:0 15px;
  text-decoration:none;
  font-weight:500;
}

/* HERO */
.hero{
  height:100vh;
  background:
    linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.6)),
    url("https://images.unsplash.com/photo-1529636798458-92182e662485") center/cover;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  padding-top:60px;
}

.hero h1{
  font-family:'Playfair Display',serif;
  font-size:3.5rem;
  animation:fadeUp 1.5s ease;
}

.hero p{
  margin-top:10px;
  letter-spacing:2px;
  animation:fadeUp 2s ease;
}

/* COUNTDOWN */
.countdown{
  display:flex;
  gap:15px;
  justify-content:center;
  margin:30px 0;
  flex-wrap:wrap;
}

.time-box{
  background:rgba(255,255,255,0.2);
  backdrop-filter:blur(10px);
  padding:15px 22px;
  border-radius:14px;
  font-size:1.6rem;
  color:#fff;
  min-width:90px;
}

.time-box span{
  display:block;
  font-size:0.75rem;
  letter-spacing:1px;
  margin-top:5px;
}


/* BUTTONS */
.buttons{
  margin-top:20px;
}

.btn{
  padding:14px 28px;
  margin:10px;
  background:linear-gradient(135deg,#c59d5f,#f1d18a);
  color:#000;
  border-radius:30px;
  text-decoration:none;
  font-weight:600;
  transition:.3s;
}

.btn:hover{
  transform:scale(1.05);
}

/* ANIMATIONS */
@keyframes fadeUp{
  from{opacity:0;transform:translateY(40px)}
  to{opacity:1;transform:translateY(0)}
}

@keyframes zoomIn{
  from{opacity:0;transform:scale(.8)}
  to{opacity:1;transform:scale(1)}
}

/* RESPONSIVE */
@media(max-width:600px){
  .hero h1{font-size:2.2rem}
  #countdown{flex-wrap:wrap;justify-content:center}
}
